@import 'main';

.single-social-section {
  display: flex;
  .social-image {
    flex-basis: 20%;
    img {
      height: 45px;
    }
  }
  .social-text {
    flex-basis: 75%;
    padding-left: 5%;
    span {
      font-size: 12px;
      line-height: 12px;
      display: block;
    }
  }
}